<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.h2Invent.skibin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_skib"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity android:name="com.h2Invent.skibin.ChildListMainActivity"></activity>
        <activity android:name="com.h2Invent.skibin.OrgMainActivity" />
        <activity android:name="com.h2Invent.skibin.MainActivity" />
        <activity android:name="com.h2Invent.skibin.ChildDetailActivity" />
        <activity android:name="com.h2Invent.skibin.TabSettingsActivity" />
        <activity android:name="com.h2Invent.skibin.SettingsActivity" />
        <activity android:name="com.h2Invent.skibin.ScanSettings" />
        <activity android:name="com.h2Invent.skibin.ScanSettingsUser" />
        <activity android:name="com.h2Invent.skibin.scanActivity" />
        <activity
            android:name="com.h2Invent.skibin.FingerprintActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>